*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-header{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.underline{
  border-bottom: solid 1px burlywood;
}
.filter-button{
  margin-top: 20px;
}
.section-center{
  margin-top: 15px;
}
.menu-item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.hoto{
  border: solid 1px goldenrod;
  width: 30px;
  height: 25px;
}
.item-info{
  display: flex;
  flex-direction: column;
}
.item-info header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px red;
}


